<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:replace="entryblock/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>Schedule List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    
    <!-- Custom links for this page only -->
    <link class="custom-link" href="../../../resources/css/task/task.css" th:href="@{/resources/css/task/task.css}" />
    
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Custom scripts for this page only -->
    <script class="custom-script" src="../../../resources/js/task/task.js" th:src="@{/resources/js/task/task.js}"></script>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="entryblock/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#" th:href="@{/}">Home</a></li>
        <li><a href="#" th:href="@{/}">Create Entry</a></li>
    </ol>
</header>

<!--/* Insert content fragment with content of the element with id = 'task-list' */-->
<div th:insert="entryblock/layout :: content(~{ :: #block-list})">
 
    <div id="block-list">
   <div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
   
</div>
    <form class="form-horizontal" action="#" th:action="@{/addnewentry}" th:object="${newEntry}"
			method="post">
			<fieldset>
				<legend>Add New Entry</legend>
			
        <div class="form-group">
            <label for="entryName" class="col-sm-2 control-label">EntryName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="entryName"  id="entryName" placeholder="entryName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="FPPNum" class="col-sm-2 control-label" >FPPNum</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="FPPNum" id="FPPNum" placeholder="0"/>
            </div>
        </div>
        <div class="form-group">
            <label for="MPPNum" class="col-sm-2 control-label">MPPNum</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="MPPNum"  id="MPPNum" placeholder="0"/>
            </div>
        </div>
        <div class="form-group">
            <label for="startDate" class="col-sm-2 control-label">startDate</label>
            <div class="col-sm-10">
                <input id="startDate" type="date" name="startDate" />
            </div>
        </div>
        <div class="form-group">
            <label for="endDate" class="col-sm-2 control-label">endDate</label>
            <div class="col-sm-10">
                <input type="date"  name="endDate"  id="endDate"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                <input type="submit" value="Save" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
            </div>
        </div>
        </fieldset>
    </form>
</div>
</div>

<footer th:replace="entryblock/layout :: footer">Footer</footer>
</body>
</html>
