<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:replace="entryblock/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>Schedule List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    
    <!-- Custom links for this page only -->
    <link class="custom-link" href="../../../resources/css/task/task.css" th:href="@{/resources/css/task/task.css}" />
    
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Custom scripts for this page only -->
    <script class="custom-script" src="../../../resources/js/task/task.js" th:src="@{/resources/js/task/task.js}"></script>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="entryblock/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#" th:href="@{/}">Home</a></li>
        <li><a href="#" th:href="@{/}">Block</a></li>
    </ol>
</header>

<!--/* Insert content fragment with content of the element with id = 'task-list' */-->
<div th:insert="entryblock/layout :: content(~{ :: #block-list})">
 
    <div id="block-list">
   <div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
   
</div>
<!-- <div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/addBlock" th:href="@{/addBlock}" class="btn btn-info">add</a>
    </div>
</div> -->
      <a href="#" th:href="@{/addBlock}" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span> Create Block
        </a>
	<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td>Entry Name</td>
			<td>Block Name</td>
			<td>FPP Number</td>
			<td>MPP Number</td>
			<td>BLock Start Date</td>
			<th>Block End Date</th>
			<th>Action</th>
		</tr>
		 </thead>
        <tbody>
		<tr th:each="block : ${blockList}">
			<td th:text="${block.entryName}"></td>
			<td th:text="${block.blockName}"></td>
			<td th:text="${block.FPPNum}"></td>
			<td th:text="${block.MPPNum}"></td>
			<td th:text="${block.startDate}"></td>
			<td th:text="${block.endDate}"></td>
			<td><div class="dropdown">
						<button type="button" class="btn dropdown-toggle"
							id="dropdownMenu1" data-toggle="dropdown">
							Action <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1"
								th:href="@{/toEditblock(blockID=${block.blockID})}">Update</a></li>

							<li role="presentation"><a role="menuitem" tabindex="-1"
								th:href="@{/deleteblock(blockID=${block.blockID})}">Delete </a></li>
						</ul>
					</div></td>
		</tr>
		</tbody>
	</table>	
	 </div>
		
</div>

<footer th:replace="entryblock/layout :: footer">Footer</footer>
</body>
</html>
