<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:replace="task/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>Schedule List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    
    <!-- Custom links for this page only -->
    <link class="custom-link" href="../../../resources/css/task/task.css" th:href="@{/resources/css/task/task.css}" />
    
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Custom scripts for this page only -->
    <script class="custom-script" src="../../../resources/js/task/task.js" th:src="@{/resources/js/task/task.js}"></script>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="schedule/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#" th:href="@{/}">Home</a></li>
        <li><a href="#" th:href="@{/}">Create Course</a></li>
    </ol>
</header>
    <form class="form-horizontal" action="#" th:action="@{/addnewcourse}" th:object="${newCourse}"
			method="post">
			<fieldset>
				<legend>Add New Course</legend>
			<ul>
					<li th:each="err : ${#fields.errors('courseCode')}" th:text="${err}" id="red"/>
					<li th:each="err : ${#fields.errors('courseName')}" th:text="${err}" id="red"/>
				</ul>
			
        <div class="form-group">
            <label for="courseCode" class="col-sm-2 control-label">Course Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="courseCode"  id="courseCode" placeholder="course code" th:field="*{courseCode}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="courseName" class="col-sm-2 control-label" >Course Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="courseName" id="courseName" placeholder="course name" th:field="*{courseName}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="courseArea" class="col-sm-2 control-label">Course Area</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="courseArea"  id="courseArea" placeholder="course area"/>
            </div>
        </div>
       <div class="form-group">
					<label for="prerequisitecourses" >PreRequisite : </label>
					 <select  th:field="*{prerequisitecourses[0].courseName}" >
				        <option th:value="none"></option> 
						<option th:value="FPP">FPP</option>
						<option th:value="MPP">MPP</option>
						<option th:value="Algorithm">Algorithm</option>
						<option th:value="WAP">WAP</option>
					</select>
</div>
				
        <div class="form-group">
            <div class="col-sm-2 control-label">
                <input type="submit" value="Add course" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
            </div>
        </div>
        </fieldset>
    </form>


<footer th:replace="schedule/layout :: footer">Footer</footer>
</body>
</html>
