<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:replace="systemuser/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>Schedule List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    
    <!-- Custom links for this page only -->
    <link class="custom-link" href="../../../resources/css/task/task.css" th:href="@{/resources/css/task/task.css}" />
    
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Custom scripts for this page only -->
    <script class="custom-script" src="../../../resources/js/task/task.js" th:src="@{/resources/js/task/task.js}"></script>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="systemuser/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#" th:href="@{/}">Home</a></li>
        <li><a href="#" th:href="@{/schedule}">Schedule</a></li>
    </ol>
</header>

<!--/* Insert content fragment with content of the element with id = 'task-list' */-->
<div th:insert="systemuser/layout :: content(~{ :: #user-list})">
 
    <div id="user-list">
   <div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
   
</div>
	<div class="with:80%">
		<form action="#" th:action="@{/systemUser/add}"	th:object="${newSystemUser}" method="post">

		       <input type="hidden" name="systemuserID" th:field="*{systemuserID}" th:value="${systemuserID}" ></input>

			<fieldset>
				<legend>Add SystemUser</legend>


				<!-- <ul>
					<li th:each="err : ${#fields.errors('firstName')}"
						th:text="${err}" id="red" />
					<li th:each="err : ${#fields.errors('specialization')}"
						th:text="${err}" id="red" />
				</ul>
			 -->

				<div class="form-group">
					<label for="firstName" >First
						Name : </label> <input type="text" class="form-control" name="firstName"
						id="firstName" th:field="*{firstName}" placeholder="firstName" />
				</div>

				<div class="form-group">
					<label for="lastName">Last
						Name : </label> <input class="form-control" name="lastName" id="lastName"
						type="text" th:field="*{lastName}" placeholder="lastName" />
				</div>
				<div class="form-group">
					<label for="userName">user
						Name : </label> <input class="form-control" name="lastName" id="userName"
						type="text" th:field="*{userName}" placeholder="userName" />
				</div>
				<div class="form-group">
					<label for="password">Password
						: </label> <input class="form-control" name="password" id="password"
						type="text" th:field="*{password}" placeholder="password" />
				</div>

				<!-- <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
     <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" th:value="Faculty">Faculty</a></li>
      <li><a href="#"  th:value="Student">Student</a></li>
    </ul>
  </div>  -->

				<div class="form-group">

					<label for="typeList">Type : </label> <select>
						<option th:value="Faculty">Faculty</option>
						<option th:value="Student">Student</option>

					</select>
				</div>

				<div class="form-group">

					<label for="studentTrackList">Student Track : </label> <select>
						<option th:value="FPP">FPP</option>
						<option th:value="MPP">MPP</option>
						<option th:value="US">US</option>
					</select>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label for="studentEntryList">Student Entry : </label> <select>
							<option th:value="January2017">January2017</option>
							<option th:value="Febuary2017">Febuary2017</option>
							<option th:value="April2017">April2017</option>
							<option th:value="August2017">August2017</option>
							<option th:value="September2017">September2017</option>


						</select>
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Add</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
	</div>
	</div>
	
<footer th:replace="systemuser/layout :: footer">Footer</footer>
</body>
</html>